---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<ul>
  <% list.forEach((post) => { %>
  <li class="mb-3 flex justify-between">
    <a href="<%= post.url %>"><%= post.data.title %></a>

    <div><%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %></div>
  </li>
  <% }) %>
</ul>

<div class="text-sm flex justify-between">
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div class="text-right ml-auto">
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
  </div>
  <% } %>
</div>

<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://newaccount1604340172685.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=No" scrolling="no" height="500px" width="100%" frameborder="0" >
</iframe>

<script>
	window.fwSettings={
	'widget_id':80000000553
	};
	!function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
</script>
<script type='text/javascript' src='https://euc-widget.freshworks.com/widgets/80000000553.js' async defer></script>